/*
== Step ==
1. svg id
2. <rect y="0" class="mapbg"
3. <g id="keyid" class="key">
4. <text class="key-issue-name">
5. <polygon class="issue-icon & id tiap key a/b/c dst
6. <a href="detail.html?issue=id"> after <g> tiap isu
7. <tspan class="issue-name"
8. global issue class = red-circle (ada dibawah)

// thumbnail image, taro di atas red-circle


<pattern id="imageis1" x="0" y="0" patternUnits="userSpaceOnUse" height="400" width="400">
<image x="0" y="0" xlink:href="assets/images/thumbnail/advanced-manufacturing-and-production.jpg"></image>
                        </pattern>

fill="url(#imageis1)"/> 1 id map




//// update


*/





/* common css */
.mapbg {
    fill:#DBDBDB;
}

#global-issue {
    font-family: 'Helvetica Neue Medium', sans-serif;
    fill:#fff;
    font-size: 22px;
    text-shadow: 1px 1px 1px #000;
}
.issue-name {
    font-family: 'Helvetica Neue Medium', sans-serif;
    font-weight: 400;
    fill:#333333;
    font-size: 12px;
}
.issue-icon, .key circle {
    fill: #fff;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.issue-icon:hover, .key circle:hover {
    cursor: pointer;
    fill: #ca1116 ;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.key path:hover {
    cursor: pointer;
    stroke: #ca1116;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.key-issue-name {
    fill: #666666;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 2px #fff;
    font-size: 14px;
}
.key {
    cursor: pointer;
}
#lingkar-luar {
    fill:none;stroke:#999999;stroke-width:2;stroke-miterlimit:10;stroke-dasharray:5,8;
}
#lingkar-dalam {
    fill:none;stroke:#999999;stroke-width:2;stroke-miterlimit:10;stroke-dasharray:20,8;
}
.key circle {
    fill:#FFFFFF;stroke:#ca1116 ;stroke-miterlimit:10;
}
svg {
    display: block;
}
#lingkar-luar {
    fill:none;stroke:#999999;stroke-width:2;stroke-miterlimit:10;stroke-dasharray:5,8;
}
#lingkar-dalam {
    fill:none;stroke:#999999;stroke-width:2;stroke-miterlimit:10;stroke-dasharray:20,8;
}
path {
    fill:none;
    stroke:#FFFFFF;
    stroke-width:1.5;
    stroke-miterlimit:10;
    opacity: .5;
}

.dnone {
    display: none;
}
.dblock {
    display: block;
}
#keyA:hover, #keyB:hover, #keyC:hover, #keyD:hover {
    cursor: pointer;
}
.keyA:hover, .keyB:hover, .keyC:hover, .keyD:hover {
    cursor: pointer;
    fill: #ca1116 !important;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
polygon.aktif {
    fill: #ca1116 !important;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.aktif line, .aktif path {
    stroke :#ca1116 !important;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 1;
}
.aktif circle {
    fill: #ca1116 !important;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
/*
.hightlight .st5 {
    fill: #0d89f9;
    stroke: #fff;
}
.st1, .st5, .st9 {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.st1:hover {
    stroke: #0d89f9;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
}
.st5:hover, .st9:hover {
    fill: #0d89f9;
    stroke: #fff;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.st7 {
    
}
*/
