@font-face {
    font-family: Autorich_Sans;
    src: url("../fonts/Autorich_Sans.otf") format("opentype");
}
@font-face {
    font-family: Mondaze-Black;
    src: url("../fonts/Mondaze-Black.ttf") format("truetype");
}
@font-face {
    font-family: Montserrat-Italic;
    src: url("../fonts/Montserrat-Italic.otf") format("opentype");
}
@font-face {
    font-family: Montserrat-Medium;
    src: url("../fonts/Montserrat-Medium.otf") format("opentype");
}
@font-face {
    font-family: Montserrat-Regular;
    src: url("../fonts/Montserrat-Regular.otf") format("opentype");
}
@font-face {
    font-family: RationalTWText-Bold;
    src: url("../fonts/RationalTWText-Bold.otf") format("opentype");
}
@font-face {
    font-family: RationalTWText-Medium;
    src: url("../fonts/RationalTWText-Medium.otf") format("opentype");
}
@font-face {
    font-family: Zetafonts;
    src: url("../fonts/Zetafonts.otf") format("opentype");
}
body {
    background-image: url(../images/bg/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.text-box h2 {
    font-family: 'RationalTWText-Medium', sans-serif;
    color: #205731;
    font-size: 36px;
}
.text-box p {
    font-family: 'Montserrat-Regular', sans-serif;
    color: #205731;
    font-size: 22px;
}

/* parallax versi 2 */
#paraContainer {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.para1 {
    display: block;
    position: absolute;
    background-image: url(../images/cover/1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}
.para2 {
    display: block;
    position: absolute;
    background-image: url(../images/cover/2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}
.para3 {
    display: block;
    position: absolute;
    background-image: url(../images/cover/3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}
.para4 {
    display: block;
    position: absolute;
    background-image: url(../images/cover/4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}
.para5 {
    display: block;
    position: absolute;
    background-image: url(../images/cover/5.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}
.parallax {
  height: 100%;
    width: 100%;
  position: absolute;
  overflow: hidden;
}
.parallax2 {
  height: 100%;
  position: relative;
}
.parallax2-layer__1 {
    background-image: url(../images/page3-burung.png);
    height: 100%;
    width: 100%;
}

.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.parallax-layer__1 {
    background-image: url(../images/cover/1.png);
    width: 100%;
    height: 100%;
}
.parallax-layer__2 {
  background-image: url(../images/cover/2.png);
    width: 100%;
    height: 100%;
}
.parallax-layer__3 {
  background-image: url(../images/cover/3.png);
    width: 100%;
    height: 100%;
}
.parallax-layer__4 {
  background-image: url(../images/cover/4.png);
    width: 100%;
    height: 100%;
}
.parallax-layer__5 {
  background-image: url(../images/cover/5.png);
    width: 100%;
    height: 100%;
}

/* Scroll down icon */
.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}

.scroll-down {
    position: absolute;
    text-align: center;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    transform: scale(1)
}
.scroll-down span {
    color: #205731;
    font-family: 'RationalTWText-Bold', sans-serif;
    position: relative;
    display: block;
    top: -20px;
    text-align: center;
}
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}


/* page 1 */

/* page 2 */
#page2 .text-box {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 70%;
}

/* page 3 */
#page3 .text-box {
    padding-left: 15%;
}
#page3 .image-box {
    position: absolute;
    right: 0;
    top: -260px;
}
#page3 .image-box img {
    max-width: 700px;
}

/* page 4 */
#page4 .text-box {
    max-width: 60%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}
.parallaxP4-1 {
    background-image: url(../images/page4-obor.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.parallaxP4-2 {
    background-image: url(../images/page4-petromaks.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* page 5 */
#page5 .image-box {
    position: absolute;
    left: 0;
    bottom: -40%;
}
#page5 .text-box {
    padding-right: 16%;
}

/* page 6 */
.parallaxP6-1 {
    background-image: url(../images/page6-batu1.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.parallaxP6-2 {
    background-image: url(../images/page6-batu2.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.parallaxP6-3 {
    background-image: url(../images/page6-batu3.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.parallaxP6-4 {
    background-image: url(../images/page6-api1.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.parallaxP6-5 {
    background-image: url(../images/page6-api2.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.parallaxP6-6 {
    background-image: url(../images/page6-api3.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#page6 .text-box {
    max-width: 70%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}

/* page 7 */
.parallaxP7-1 {
    background-image: url(../images/page7-gas1.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.parallaxP7-2 {
    background-image: url(../images/page7-gas2.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#page7 .text-box {
    max-width: 60%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}

/* page 8 */
#page8 .text-box {
    max-width: 50%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}

/* page 9 */
#page9 .text-box {
    max-width: 50%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}
#page9 .image-box {
    position: absolute;
    bottom: -100px;
    left: 0
}
#page9 .image-box img {
    max-width: 70%;
}

/* page 10 */
#page10 .text-box {
    max-width: 50%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}
#page10 .image-box {
    position: absolute;
    bottom: -100px;
    right: 0;
}
#page10 .image-box img {
    max-width: 70%;
}

/* page 11 */
#page11 .text-box {
    max-width: 50%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}
#page11 .text-box a {
    background-color: white;
    font-family: 'RationalTWText-Bold', sans-serif;
    padding: 20px 40px;
    font-size: 24px;
    color: #205731;
    border: 4px solid #205731;
    border-radius: 100px;
    -webkit-transition: all .3s ease-out!important;
    transition: all .3s ease-out!important;
}
#page11 .text-box a:hover {
    text-decoration: none;
    -webkit-transition: all .3s ease-out!important;
    transition: all .3s ease-out!important;
    background-color: #205731;
    color: white;
}
._desktop {
    display: block
}

._mobile {
    display: none;
}

@media only screen and (min-width: 1500px) {
    .page6, .page7 {
        background-image: none;
    }
}
@media only screen and (max-width: 600px) {
    body {
        background-image: url(../images/bg/bg-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
    }
    ._desktop {
        display: none!important;
    }
    ._mobile {
        display: block!important;
    }
    .text-box h2 {
        font-size: 30px;
    }
    .text-box p {
        font-size: 19px;
    }
    .pp-scrollable .vertical-centred {
        padding-top: 4rem;
    }
    #page3 .vertical-centred, #page5 .vertical-centred {
        vertical-align: top;
    }
    #page1 {
        background-image: url(../images/mobile/cover.png);
        background-size: cover;
    }
    #page3 .text-box {
        padding: 12%;
    }
    #page3 .image-box {
        top: -60px;
    }
    #page3 .image-box img {
        max-width: 400px;
    }
    #page4 .text-box {
        max-width: 80%;
    }
    .page4 {
        background-image: url(../images/mobile/page4.png);
        background-size: cover;
    }
    #page5 .image-box {
        position: relative;
        bottom: 0;
    }
    #page5 .image-box img {
        max-width: 500px;
    }
    #page5 .text-box {
        padding: 8% 12%;
    }
    .page6 {
        background-image: url(../images/mobile/page6.png);
        background-size: cover;
    }
    #page7 .text-box {
        max-width: 80%;
    }
    .page7 {
        background-image: url(../images/mobile/page7.png);
        background-size: cover;
    }
    #page11 .text-box {
        max-width: 80%;
    }
}

@media only screen and (max-width: 480px) and (min-width: 420px) {
    .text-box h2 {
        font-size: 26px;
        line-height: normal;
    }
    .text-box p {
        font-size: 16px;
    }
    #page3 .image-box img {
        max-width: 300px;
    }
    #page5 .image-box img {
        max-width: 400px;
    }
    #page9 .text-box {
        max-width: 70%;
    }
    #page9 .image-box {
        bottom: 0;
    }
    #page10 .text-box {
        max-width: 70%;
    }
    #page10 .image-box {
        bottom: 0;
    }
    #page11 .text-box a {
        font-size: 20px;
        border: 3px solid #205731;
    }
}