@font-face {
    font-family: OpenSans-Regular;
    src: url("../fonts/OpenSans-Regular.ttf") format("opentype");
}

@font-face {
    font-family: SourceSansPro-It;
    src: url("../fonts/SourceSansPro-It.otf") format("opentype");
}
@font-face {
    font-family: SourceSansPro-Regular;
    src: url("../fonts/SourceSansPro-Regular.otf") format("opentype");
}
@font-face {
    font-family: SourceSansPro-Semibold;
    src: url("../fonts/SourceSansPro-Semibold.otf") format("opentype");
}
@font-face {
    font-family: PlayfairDisplay-Bold;
    src: url("../fonts/PlayfairDisplay-Bold.otf") format("opentype");
}
body {
    background-color: #1787ca;
}
.logo_idn {
    position: relative;
    float: right;
    margin-top: 50px;
    margin-right: 50px;
}
.logo_idn a img {
    max-width: 200px;
}





/* ========== welcome page ========== */
.wp_text {
    max-width: 450px;
    position: absolute;
    left: 300px;
    color: #194037;
    margin-top: 16%;
}
.wp_text h1 {
    font-family: 'RationalTWText-SemiBold', monospace;
    font-size: 40px;
    margin-bottom: 30px;
}
.wp_text p {
    font-family: 'RationalText-Book', sans-serif;
    font-size: 22px;
}

/* ========== client class ========== */
.bca {
    overflow: hidden;
}
/* ========== welcome page ========== */

#mobile-only {
    background-image: url(../images/mobile/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

/* ========== section 1 ========== */
.sect1 {
    background-image: url(../images/sect1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    min-width: 100vw;
    position: relative;
    padding-top: 20%;
}
.sect1 .text_box {
    max-width: 500px;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    top: 200px;
    padding: 10px;
}
.sect1 p {
    font-family: 'SourceSansPro-Semibold', sans-serif;
    font-size: 26px;
    color: #fff;
    line-height: 32px;
    letter-spacing: .6px;
}




/* ========== section 2 ========== */

.sect2 {
    background-image: url(../images/sect2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100vw;
    position: relative;
    padding-top: 15%;
}
.sect2 h2 {
    font-family: 'PlayfairDisplay-Bold', monospace;
    font-size: 40px;
    margin-bottom: 40px;
    color: #fff;
}
.sect2 p {
    font-family: 'SourceSansPro-Regular', sans-serif;
    font-size: 18px;
    color: #fff;
}
.sect2 .image_box {
    margin-top: -100px;
    text-align: center;
}
.sect2 .image_box img {
    max-width: 650px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.sect2 .text_box {
    padding: 0 10px;
    max-width: 500px;
}


/* ========== section 3 ========== */
.sect3 {
    background-image: url(../images/sect3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100vw;
    position: relative;
    padding-top: 20%;
}
.sect3 h2 {
    font-family: 'PlayfairDisplay-Bold', monospace;
    font-size: 40px;
    margin-bottom: 40px;
    color: #1E2034;
}
.sect3 p {
    font-family: 'SourceSansPro-Regular', sans-serif;
    font-size: 18px;
    color: #1E2034;
}
.sect3 .image_box {
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 500px;
}
.sect3 .text_box {
    padding: 0 10px;
    margin-top: 100px;
    max-width: 500px;
}
.sect3 .image_box img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 550px;
}

/* ========== section 4 ========== */
.sect4 {
    background-image: url(../images/sect4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100vw;
    position: relative;
    padding-top: 12%;
    
}
.sect4 h2 {
    font-family: 'PlayfairDisplay-Bold', monospace;
    font-size: 40px;
    margin-bottom: 40px;
    color: #1E2034;
}
.sect4 p {
    font-family: 'SourceSansPro-Regular', sans-serif;
    font-size: 18px;
    color: #1E2034;
}
.sect4 .image_box {
    left: 0;
    right: 0;
    margin: auto;
    max-width: 500px;
    text-align: center;
    margin-top: 100px;
}
.sect4 .image_box img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 380px;
}
.sect4 .text_box {
    padding: 0 10px;
    max-width: 450px;
}



/* ========== section 5 ========== */
.sect5 {
    background-image: url(../images/sect5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100vw;
    position: relative;
    padding-top: 12%;
}
.sect5 h2 {
    font-family: 'PlayfairDisplay-Bold', monospace;
    font-size: 40px;
    margin-bottom: 40px;
    color: #fff;
}
.sect5 p {
    font-family: 'SourceSansPro-Regular', sans-serif;
    font-size: 18px;
    color: #fff;
}
.sect5 .image_box {
    left: 0;
    right: 0;
    margin: auto;
    max-width: 500px;
    text-align: center;
    margin-top: 160px;
}
.sect5 .image_box img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 400px;
}
.sect5 .text_box {
    padding: 0 10px;
    margin-top: 250px;
    max-width: 450px;
}

/* ========== section 6 ========== */
.sect6 {
    background-image: url(../images/sect6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100vw;
    position: relative;
    padding-top: 10%;
}
.sect6 h2 {
    font-family: 'PlayfairDisplay-Bold', monospace;
    font-size: 40px;
    margin-bottom: 40px;
    color: #fff;
}
.sect6 p {
    font-family: 'SourceSansPro-Regular', sans-serif;
    font-size: 18px;
    color: #fff;
}
.sect6 .image_box {
    text-align: center;
    margin-top: 400px;
}

.sect6 .image_box img {
    position: absolute;
    max-width: 570px;
    left: 20px;
}
.sect6 .text_box {
    padding: 0 10px;
    position: absolute;
    max-width: 450px;
}

/* ========== section 7 ========== */
.sect7 {
    background-image: url(../images/sect7.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100vw;
    position: relative;
    padding: 5% 0;
}
.sect7 h2 {
    font-family: 'PlayfairDisplay-Bold', monospace;
    font-size: 40px;
    margin-bottom: 40px;
    color: #1E2034;
}
.sect7 p {
    font-family: 'SourceSansPro-Regular', sans-serif;
    font-size: 18px;
    color: #1E2034;
}
.sect7 .image_box {
    max-width: 500px;
    text-align: center;
    margin-top: 200px;
    position: relative;
}
.sect7 .image_box img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 480px;
}
.sect7 .text_box {
    padding: 0 10px;
    margin-top: 200px;
    max-width: 500px;
}


/* ========== section 8 ========== */
.sect8 {
    background-color: #fff;
    width: 100vw;
    position: relative;
    padding: 5% 0;
}
.sect8 h2 {
    color: #1E2034;
    font-family: 'PlayfairDisplay-Bold', monospace;
    font-size: 40px;
    margin-bottom: 40px;
}
.sect8 p {
    font-family: 'SourceSansPro-Regular', sans-serif;
    font-size: 18px;
    color: #1E2034;
}
.sect8 .image_box {
    max-width: 500px;
    text-align: center;
    position: relative;
}
.sect8 .image_box img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 480px;
}
.sect8 .text_box {
    padding: 0 10px;
    margin-top: 100px;
    max-width: 450px;
}


/* ========== section 9 ========== */
.sect9 {
    background-image: url(../images/sect9.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 100vw;
    position: relative;
    padding-top: 10%;
}

.sect9 .text_box {
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    max-width: 800px; 
}
.sect9 p {
    font-family: 'SourceSansPro-Regular', sans-serif;
    font-size: 26px;
    color: #000;
    font-weight: bold;
}

/* ========== section 10 ========== */
.sect10 {
     background-color: #f2f2f2;
    width: 100vw;
    position: relative;
    padding-top: 10%;
}
.sect10 .end_text {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    top: 20px;
    text-align: center;
}
.sect10 .end_text p {
    font-size: 22px;
    font-family: 'SourceSansPro-Regular', sans-serif;
    font-weight: bold;
    max-width: 400px;
}
.sect10 .text_box {
    left: 0;
    right: 0;
    margin: auto;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}
.sect10 h2 {
    color: #1E2034;
    font-family: 'PlayfairDisplay-Bold', monospace;
    font-size: 40px;
    margin-bottom: 30px;
}
.sect10 p {
    font-family: 'SourceSansPro-Regular', sans-serif;
    font-size: 18px;
    color: #1E2034;
    max-width: 315px;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}

.img-fluid {
    max-width: 100%;
}


/* carousel */
#bca_slide {
    max-width: 450px;
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}
.carousel-control-next-icon {
    background-image: url(../images/slide/right.png)!important;
}
.carousel-control-prev-icon {
    background-image: url(../images/slide/left.png)!important;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 25px!important;
    height: 42px!important;
}
.carousel-indicators {
    position: absolute!important;
    left: 0;
    right: 0;
    margin: auto!important;
}
.carousel-indicators li {
    width: 15px!important;
    height: 15px!important;
    background-color: #1763B1!important;
    border-radius: 50%!important;
    margin: 0 5px!important;
}
.carousel-item img {
    max-width: 250px;
    height: auto;
}
.desc {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 100px;
    left: 0;
    right: 0;
    margin: auto;
}
.desc p {
    font-size: 16px;
    color: black;
    font-family: 'SourceSansPro-Regular', sans-serif;
    font-weight: bold;
    letter-spacing: .4px;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}





.desktop_{
    display: block;
}
.mobile_ {
    display: none
}




/* ================== responsive ==================== */

@media only screen and (min-width: 1500px) {
    .sect1, .sect2, .sect3, .sect4, .sect5  {
        height: 920px;
    }
    .sect6, .sect10 {
        height: 1030px;
    }
    .sect7, .sect8 {
        height: 800px;
    }
    .sect9 {
        height: 500px;
    }
}

@media only screen and (min-width: 1366px) and (max-width: 1499px) {
    .sect1, .sect2, .sect3, .sect4, .sect5  {
        height: 860px;
    }
    .sect6, .sect10 {
        height: 955px;
    }
    .sect7, .sect8 {
        height: 700px;
    }
    .sect9 {
        height: 400px;
    }
    
    .sect3 .image_box img {
        max-width: 500px;
    }
    .sect4 .image_box img {
        max-width: 350px;
    }
    .sect5 .image_box img {
        max-width: 370px;
    }
    .sect7 .image_box img {
        max-width: 430px;
    }
    .sect8 .image_box img {
        max-width: 400px;
    }
    .sect9 p {
        font-size: 22px;
    }
    .sect10 {
        padding-bottom: 100px;
        padding-top: 30px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
    .sect1, .sect2, .sect3, .sect4, .sect5  {
        height: 770px;
    }
    .sect6, .sect10 {
        height: 850px;
    }
    .sect7, .sect8 {
        height: 650px;
    }
    .sect9 {
        height: 360px;
    }
    .sect1 {
        padding-top: 12%;
    }
    .sect1 p {
        font-size: 24px;
    }
    .sect2 h2, .sect3 h2, .sect4 h2, .sect5 h2, .sect6 h2, .sect7 h2, .sect8 h2 {
        font-size: 28px;
        margin-bottom: 25px;
    }
    .sect2 p, .sect3 p, .sect4 p, .sect5 p, .sect6 p, .sect7 p, .sect8 p, .sect9 p {
        font-size: 16px;
    }
    .sect2 .image_box img {
        max-width: 500px;
    }
    .sect3 {
        padding-top: 5%;
    }
    .sect3 .image_box img {
        max-width: 450px;
    }
    .sect3 .text_box {
        margin-top: 190px;
    }
    .sect4 {
        padding-top: 3%;
    }
    .sect4 .image_box img {
        max-width: 340px;
    }
    .sect4 .image_box {
        margin-top: 170px;
    }
    .sect4 .text_box {
        margin-top: 100px;
    }
    .sect5 .text_box {
        margin-left: 50px;
    }
    .sect5 .image_box img {
        max-width: 310px;
    }
    .sect6 .image_box {
        margin-top: 280px;
    }
    .sect7 .image_box {
        margin-top: 100px;
    }
    .sect7 .image_box img {
        max-width: 400px;
    }
    .sect8 .image_box img {
        max-width: 380px;
    }
    .carousel-item img {
        max-width: 180px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .sect1, .sect2, .sect3, .sect4, .sect5  {
        height: 700px;
    }
    .sect6, .sect10 {
        height: 775px;
    }
    .sect7, .sect8 {
        height: 600px;
    }
    .sect9 {
        height: 330px;
        padding-top: 5%;
    }
    .sect2 h2, .sect3 h2, .sect4 h2, .sect5 h2, .sect6 h2, .sect7 h2, .sect8 h2, .sect10 h2 {
        font-size: 28px;
        margin-bottom: 25px;
    }
    .sect2 p, .sect3 p, .sect4 p, .sect5 p, .sect6 p, .sect7 p, .sect8 p, .sect9 p, .sect10 p {
        font-size: 16px;
    }
    .sect1 {
        padding-top: 10%;
    }
    .sect1 p {
        font-size: 21px;
    }
    .sect2 .image_box {
        margin-top: -50px;
    }
    .sect2 .image_box img {
        max-width: 450px;
    }
    .sect3 .image_box img {
        max-width: 400px;
    }
    .sect4 .image_box img {
        max-width: 300px;
    }
    .sect5 .text_box {
        margin-top: 180px;
    }
    .sect5 .image_box img {
        max-width: 275px;
    }
    .sect6 .image_box {
        margin-top: 300px;
    }
    .sect6 .image_box img {
        max-width: 450px;
        left: 100px;
    }
    .sect7 .image_box {
        margin-top: 120px;
    }
    .sect7 .image_box img {
        max-width: 380px;
    }
    .sect8 .image_box img {
        max-width: 300px;
    }
    .sect10 {
        padding-top: 0;
    }
    .carousel-item img {
        max-width: 200px;
    }
}

@media only screen and (max-width: 600px) {
    [data-aos-delay] {
        transition-delay: 0s !important;
    }
    .desktop_ {
        display: none;
    }
    .mobile_ {
        display: block;
    }
    #desktop-only {
        display: none;
    }
    #mobile-only {
        display: block;
    }
    .sect2 h2, .sect3 h2, .sect4 h2, .sect5 h2, .sect6 h2, .sect7 h2, .sect8 h2, .sect10 h2 {
        font-size: 32px;
        margin-bottom: 25px;
        letter-spacing: 1px;
    }
    .sect2 p, .sect3 p, .sect4 p, .sect5 p, .sect6 p, .sect7 p, .sect8 p, .sect9 p, .sect10 p {
        font-size: 14px;
    }
    .sect1 {
        background-color: #0c1a42;
        height: 70vh;
        background-image: none;
        padding-top: 0;
    }
    .sect1 p {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: .4px;
    }
    .sect1 .text_box {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }
    .sect2 {
        background-image: url(../images/mobile/sect2.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
    .sect2 .text_box {
        margin-bottom: 100px;
    }
    .sect2 .image_box {
        margin-top: 0;
    }
    .sect2 .image_box img {
        max-width: 300px;
    }
    .sect3 {
        background-image: url(../images/mobile/sect3.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
    .sect3 .image_box {
        margin-top: 0;
    }
    .sect3 .image_box img {
        max-width: 320px;
    }
    .sect3 .text_box {
        margin-top: 0;
        margin-bottom: 50px;
    }
    .sect4 {
        background-image: url(../images/mobile/sect4.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
    .sect4 .text_box {
        margin-bottom: 140px;
    }
    .sect4 .image_box {
        position: relative;
        margin-top: 0px;
    }
    .sect4 .image_box img {
        max-width: 280px;
    }
    .sect5 {
        background-image: url(../images/mobile/sect5.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
    .sect5 .text_box {
        margin-top: 180px;
    }
    .sect5 .image_box {
        margin-top: 50px;
    }
    .sect5 .image_box img {
        max-width: 260px;
    }
    .sect6 {
        background-image: url(../images/mobile/sect6.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
    .sect6 .text_box {
        text-align: right;
        position: absolute;
        right: 20px;
        max-width: 340px;
        margin-top: 60px;
    }
    .sect6 .image_box {
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
        top: 480px;
    }
    .sect6 .image_box img {
        max-width: 340px;
        position: relative;
        left: 0;
    }
    .sect7 {
        background-image: url(../images/mobile/sect7.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
    .sect7 .text_box {
        margin-top: 200px;
    }
    .sect7 .image_box {
        margin-top: 50px;
    }
    .sect7 .image_box img {
        max-width: 320px;
    }
    .sect8 .text_box {
        margin-top: 100px;
        margin-bottom: 50px;
    }
    .sect8 {
        background-image: none;
        background-color: white;
        height: 100vh;
    }
    .sect8 .image_box img {
        max-width: 260px;
    }
    .sect9 {
        height: 50vh;
        background-color: white;
    }
    .sect10 {
        height: 100vh;
    }
    .carousel-item img {
        max-width: 170px;
    }
}

@media only screen and (max-width: 480px) {
    .sect2 h2, .sect3 h2, .sect4 h2, .sect5 h2, .sect6 h2, .sect7 h2, .sect8 h2, .sect10 h2 {
        font-size: 30px;
        margin-bottom: 25px;
    }
    .sect2 p, .sect3 p, .sect4 p, .sect5 p, .sect6 p, .sect7 p, .sect8 p, .sect9 p, .sect10 p {
        font-size: 15px;
    }
    .sect4 .text_box {
        margin-bottom: 110px;
    }
    .sect4 .image_box img {
        max-width: 230px;
    }
    .sect5 .text_box {
        margin-top: 120px;
        max-width: 260px;
    }
    .sect5 .image_box {
        margin-top: 0px;
    }
    .sect5 .image_box img {
        max-width: 200px;
    }
    .sect6 .image_box {
        top: 360px;
    }
    .sect6 .image_box img {
        max-width: 300px;
    }
    .sect7 .text_box {
        margin-top: 100px;
    }
    .sect7 .image_box img {
        max-width: 280px;
    }
    .sect8 .text_box {
        margin-top: 50px;
    }
    .sect8 .image_box img {
        max-width: 240px;
    }
    .sect10 .end_text p {
        font-size: 17px;
    }
}

@media only screen and (max-width: 480px) {
    .sect6 .image_box {
        top: 430px;
    }
}
@media (max-width: 360px) {
    .sect2 h2, .sect3 h2, .sect4 h2, .sect5 h2, .sect6 h2, .sect7 h2, .sect8 h2, .sect10 h2 {
        font-size: 18px;
    }
    .sect2 p, .sect3 p, .sect4 p, .sect5 p, .sect6 p, .sect7 p, .sect8 p, .sect9 p, .sect10 p {
        font-size: 11px;
    }
    .sect1 p {
        letter-spacing: 0;
        font-size: 17px;
        line-height: 20px;
    }
    .sect1 .text_box {
        top: 50px;
    }
    .sect2 .text_box {
        margin-bottom: 40px;
    }
    .sect2 .image_box img {
        max-width: 240px;
    }
    .sect3 .image_box img {
        max-width: 220px;
    }
    .sect3 .text_box {
        margin-bottom: 0px;
    }
    .sect4 .text_box {
        margin-bottom: 20px;
    }
    .sect4 .image_box img {
        max-width: 180px;
    }
    .sect5 .text_box {
        margin-top: 100px;
    }
    .sect5 .image_box {
        margin-top: -10px;
    }
    .sect5 .image_box img {
        max-width: 140px;
    }
    .sect6 .image_box img {
        max-width: 240px;
    }
    .sect6 .image_box {
        top: 260px;
    }
    .sect7 .text_box {
        margin-top: 60px;
    }
    .sect7 .image_box img {
        max-width: 200px;
    }
    .sect8 .text_box {
        margin-bottom: 0;
        margin-top: 20px;
    }
    .sect8 .image_box img {
        max-width: 180px;
    }
    .sect9 .text_box {
        position: relative;
        top: 30px;
    }
    .sect10 {
        height: 110vh;
    }
    .sect10 .end_text p {
        font-size: 14px;
    }
    .desc {
        max-width: 200px;
        height: 70px;
    }
    .carousel-item img {
        max-width: 110px;
    }
    .carousel-indicators li {
        width: 10px!important;
        height: 10px!important;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 18px!important;
        height: 30px!important;
    }
}



.spinner {
  width: 40px;
  height: 40px;
  background-color: #fff;
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}


