#home_awal {
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
    background-attachment: fixed;
}
.section_content {
    top: 45%;
    color: white;
    text-align: center;
    position: relative;
    transform: translateY(-45%);
}
#home_awal > .section_content > h2 {
    font-size: 70px;
    font-weight: bold;
}
#home_awal > .section_content > p {
    font-size: 22px;
}
