
.navbar a {
    background-color: #ed2028;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff!important;
}
#home_awal {
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
    background-attachment: fixed;
}
.section_content {
    top: 45%;
    color: white;
    text-align: center;
    position: relative;
    transform: translateY(-45%);
}
#home_awal > .section_content > h2 {
    font-size: 70px;
    font-weight: bold;
}
#home_awal > .section_content > p {
    font-size: 22px;
}
#bg-image {
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: auto;
    background-attachment: fixed;
}
.spec-des {
    background-color: #f6f6f6;
    border-left: 2px solid #eee;
    padding: 20px 20px 20px 30px;
    font-family: 'Roboto', sans-serif;
}
.spec-des > a.preview {
    background-color: #ed2028;
    color: white;
    border-radius: 2px;
    padding: 10px 15px;
    position: relative;
    display: inline-block;
    border: 2px solid #ed2028;
    transition: all 0.5s ease;
    font-weight: bold;
    margin: 0 10px;
}
.spec-des > a.preview:hover {
    text-decoration: none;
    transition: all 0.5s ease;
    border-radius: 20px;
}
.spec-des > a.browse {
    background-color: #f6f6f6;
    color: #ed2028;
    border-radius: 2px;
    padding: 10px 15px;
    position: relative;
    display: inline-block;
    border: 2px solid #ed2028;
    transition: all 0.5s ease;
    font-weight: bold;
} 
.spec-des > a.browse:hover {
    text-decoration: none;
    background-color: white;
    transition: all 0.5s ease;
    color: #ed2028;
    border-radius: 20px;
}
.spec-des > h1 {
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.spec-des > h3 {
    font-size: 1.5rem;
}
.spec-des > ul {
    padding-left: 20px;
    list-style: disc;
}
.mobile-ss > img {
    max-width: 320px;
}
ul {
    list-style: none;
    padding: 0;
  
    .inner {
        padding-left: 1em;
        overflow: hidden;
        display: none;
      
        &.show {
          /*display: block;*/
        }
    }
  
    li {
        margin: .5em 0;
      
        a.toggle {
            width: 100%;
            display: block;
            background: rgba(0,0,0,0.78);
            color: #fefefe;
            padding: .75em;
            border-radius: 0.15em;
            transition: background .3s ease;
          
            &:hover {
                background: rgba(0, 0, 0, 0.9);
            }
        }
    }
}
.inner {
    display: none;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #f6f6f6;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
    height: calc(100% - 66px);
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #292929;
    border-bottom: 1px solid #e3e3e3;
    font-weight: 400;
    transition: all 0.5s ease;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #292929;
    transition: all 0.5s ease;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
.sidebar-nav>.sidebar-brand > a > img {
  max-width: 200px;
}
.nakma {
    background-color: #ededed;
}
.nakma > li > a {
    padding-left: 10px;
    border-bottom: 1px solid #d8d8d8;
}
.nakwa {
    background-color: #dadada;
}
.nakwa > li > a {
    padding-left: 30px;
    border-bottom: 1px solid #c9c9c9;
}
@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
@media (max-width:576px) {
    #wrapper {
        margin-top: 66px;
    }
}
@media screen and (max-width:480px){
    #bg-image {
        background-image: none;
        background-color: white;
    }
    .img-fluid {
        margin-bottom: 10px;
    }
    .spec-des {
        padding: 15px;
    }
    .spec-des > a.preview, .spec-des > a.browse {
        margin: 5px;
        font-size: 14px;
        font-weight: 400;
    }
    .spec-des > h1 {
        font-size: 1.7rem;
    }
    .spec-des > h3 {
        font-size: 1.3rem;
    }
}
